Repository hpi-sam/digital-fuesim-manv, pull requests merged in 2022-06, with the labels that each got.

#445 Add keyboard controls for the ol map
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/exercise-map.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/ol-map-manager.ts
Labels: enhancement

#442 Add note about `docker compose` to root README
  .vscode/tasks.json
  README.md
  backend/README.md
Labels: documentation, enhancement

#438 Include `emitterId` in `ExerciseTimeline`
  backend/src/exercise/exercise-wrapper.ts
  shared/src/utils/exercise-time-line.ts
Labels: enhancement, backend

#457 Pause an exercise when it's removed
  backend/src/exercise/exercise-wrapper.ts
Labels: bug, backend
