Repository hpi-sam/digital-fuesim-manv, pull requests merged in 2022-10, with the labels that each got.

#537 Add a launch config for firefox
  .vscode/extensions.json
  .vscode/launch.json
  README.md
Labels: dev-setup

#536 TransferTargetDropdown doesn't show hospitals
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/choose-transfer-target-popup/choose-transfer-target-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/choose-transfer-target-popup/choose-transfer-target-popup.component.ts
Labels: bug, frontend

#527 Pass the correct state version to action migrations
  backend/src/database/state-migrations/3-update-eoc-log.ts
  backend/src/database/state-migrations/5-remove-statistics.ts
  backend/src/database/state-migrations/6-remove-state-history.ts
  backend/src/database/state-migrations/7-add-patient-remarks.ts
  backend/src/database/state-migrations/8-treatment-system-improvements.ts
  backend/src/database/state-migrations/9-remove-is-being-treated.ts
  backend/src/database/state-migrations/migrations.ts
  backend/src/exercise/exercise-wrapper.ts
  backend/src/utils/import-exercise.ts
  shared/src/store/reduce-exercise-state.ts
Labels: bug, backend

#562 fix issue 561 + add ssl comment
  .env.example
  docker/ssl.sh
Labels: docker
