Repository hpi-sam/digital-fuesim-manv, pull requests merged in 2022-07, with the labels that each got.

#459 Fixing vulnerable dependencies
  backend/package-lock.json
  frontend/package-lock.json
Labels: frontend, backend, dependencies

#454 use node instead of npm in docker-entrypoint.sh
  docker/docker-entrypoint.sh
Labels: backend, docker

#440 Add secure http handler
  backend/src/exercise/http-handler/secure-http.ts
  backend/src/exercise/http-server.ts
  backend/test/utils.ts
Labels: enhancement, backend

#444 Enable no unchecked indexed access
  backend/src/database/state-migrations/migrations.ts
  backend/src/exercise/exercise-wrapper.spec.ts
  backend/src/exercise/patient-ticking.ts
  backend/src/utils/user-readable-id-generator.spec.ts
  backend/tsconfig.json
  frontend/src/app/core/time-jump-helper.ts
  frontend/src/app/pages/exercises/exercise/shared/alarm-group-overview/alarm-group-item/alarm-group-item.component.html
  frontend/src/app/pages/exercises/exercise/shared/alarm-group-overview/alarm-group-overview-modal/alarm-group-overview-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/client-overview/client-overview-table/client-overview-table.component.html
  frontend/src/app/pages/exercises/exercise/shared/core/drag-element.service.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/delete-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/element-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/transfer-point-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/viewport-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/choose-transfer-target-popup/choose-transfer-target-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/transfer-point-popup/transfer-point-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/transfer-point-popup/transfer-point-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/calculate-popup-positioning.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/handle-changes.spec.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/handle-changes.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/modify-helper.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/movement-animator.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/popup-helper.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/translate-helper.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/viewport-modify.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/area-statistics.service.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/exercise-statistics-modal/exercise-statistics-modal.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/stacked-bar-chart/time-line-area-chart.ts
  frontend/src/app/pages/exercises/exercise/shared/hospital-editor/hospital-editor-modal/hospital-editor-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/time-travel/time-travel.component.ts
  frontend/src/app/pages/exercises/exercise/shared/transfer-overview/transfer-overview-table/transfer-overview-table.component.html
  frontend/src/app/pages/exercises/exercise/shared/transfer-overview/transfer-target-input/transfer-target-input.component.html
  frontend/src/app/shared/pipes/keys.pipe.ts
  frontend/src/app/shared/pipes/track-by-property/track-by-property-pipe-transform.ts
  frontend/src/app/shared/pipes/values.pipe.ts
  frontend/src/app/state/exercise/exercise.selectors.ts
  frontend/tsconfig.json
  shared/src/data/dummy-objects/patient.ts
  shared/src/models/patient-category.ts
  shared/src/models/utils/index.ts
  shared/src/store/action-reducers/exercise.ts
  shared/src/store/action-reducers/transfer-point.ts
  shared/src/store/action-reducers/utils/calculate-treatments.spec.ts
  shared/src/store/action-reducers/utils/calculate-treatments.ts
  shared/src/store/action-reducers/vehicle.ts
  shared/src/store/reduce-exercise-state.spec.ts
  shared/tsconfig.json
Labels: enhancement

#447 Feature/improve optimistic updates
  frontend/src/app/core/api.service.ts
  frontend/src/app/core/optimistic-action-handler.spec.ts
  frontend/src/app/core/optimistic-action-handler.ts
  frontend/src/app/core/time-travel-helper.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/ol-map-manager.ts
Labels: enhancement, testing, frontend

#481 Add test checking whether a fresh state is correct
  shared/src/state.spec.ts
Labels: enhancement, shared

#476 Fix state migrations
  backend/src/database/state-migrations/impossible-migration.ts
  backend/src/database/state-migrations/migrations.ts
  backend/src/exercise/exercise-wrapper.ts
  backend/src/utils/import-exercise.ts
  shared/src/export-import/file-format/state-export.ts
Labels: bug, backend

#483 Increase lint timeout to 3 mins (from 2)
  .github/workflows/pipeline.yml
Labels: enhancement, CI

#477 Feature/472 eoc log
  backend/src/database/state-migrations/3-update-eoc-log.ts
  backend/src/database/state-migrations/migrations.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/emergency-operations-center-modal/emergency-operations-center-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/emergency-operations-center.module.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/eoc-log-interface/eoc-log-interface.component.html
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/eoc-log-interface/eoc-log-interface.component.scss
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/eoc-log-interface/eoc-log-interface.component.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.ts
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.ts
  frontend/src/app/state/exercise/exercise.selectors.ts
  shared/src/models/eoc-log-entry.ts
  shared/src/state.ts
  shared/src/store/action-reducers/action-reducers.ts
  shared/src/store/action-reducers/emergency-operation-center.ts
Labels: enhancement, frontend

#471 Throw `ReducerError` when starting/pausing an exercise
  backend/src/database/state-migrations/6-remove-state-history.ts
  backend/src/database/state-migrations/migrations.ts
  backend/src/exercise/exercise-wrapper.spec.ts
  backend/src/exercise/exercise-wrapper.ts
  frontend/src/app/core/api.service.ts
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.ts
  frontend/src/app/state/exercise/exercise.selectors.ts
  shared/src/models/index.ts
  shared/src/models/status-history-entry.ts
  shared/src/models/utils/exercise-status.ts
  shared/src/models/utils/index.ts
  shared/src/state.ts
  shared/src/store/action-reducers/exercise.ts
  shared/src/store/reduce-exercise-state.spec.ts
Labels: bug, shared

#508 Remove `Action.timestamp`
  backend/src/database/state-migrations/6-remove-state-history.ts
  backend/src/exercise/websocket-handler/propose-action-handler.ts
  frontend/src/app/core/optimistic-action-handler.ts
  shared/src/store/action-reducer.ts
Labels: enhancement, shared

#504 Add notes to `backend/README.md` about #183
  backend/README.md
Labels: documentation, backend

#506 Pause an exercise when the last client disconnects
  backend/src/exercise/exercise-wrapper.spec.ts
  backend/src/exercise/exercise-wrapper.ts
  backend/test/websocket-join-exercise.spec.ts
Labels: bug, backend

#505 Remove all `...` where they may lead to problems with too many arguments
  backend/src/exercise/exercise-wrapper.ts
  backend/src/fuesim-server.spec.ts
  backend/src/utils/array.spec.ts
  backend/src/utils/array.ts
Labels: bug, backend

#511 Use mutable state for restoring an exercise
  backend/src/exercise/exercise-wrapper.ts
  shared/src/store/reduce-exercise-state.ts
Labels: bug, backend

#510 Free text field for patients
  backend/src/database/state-migrations/7-add-patient-remarks.ts
  backend/src/database/state-migrations/migrations.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.ts
  shared/src/data/dummy-objects/patient.ts
  shared/src/models/patient-template.ts
  shared/src/models/patient.ts
  shared/src/state.ts
  shared/src/store/action-reducers/patient.ts
Labels: enhancement, frontend

#379 enable SSL via ENVs
  .env.example
  .github/workflows/pipeline.yml
  .prettierignore
  README.md
  docker-compose.yml
  docker/Dockerfile
  docker/cron-renew-session-ticket
  docker/docker-entrypoint.sh
  docker/nginx/acme-location
  docker/nginx/certs
  docker/nginx/headers
  docker/nginx/hsts
  docker/nginx/hsts.template
  docker/nginx/http-redirect.template
  docker/nginx/http.template
  docker/nginx/https.template
  docker/nginx/locations
  docker/nginx/server-name
  docker/ssl.sh
Labels: docker

#513 Add LF endings for `docker/docker-entrypoint.sh` to `.gitattributes`
  .gitattributes
Labels: bug, meta

#516 Add `orderBy` pipe
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.html
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/transfer-point-popup/transfer-point-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/transfer-point-popup/transfer-point-popup.component.ts
  frontend/src/app/shared/pipes/order-by.pipe.ts
  frontend/src/app/shared/shared.module.ts
  shared/src/models/transfer-point.ts
Labels: enhancement, frontend
