Repository hpi-sam/digital-fuesim-manv, pull requests merged in 2022-05, with the labels that each got.

#266 Increase test coverage
  backend/src/config.spec.ts
  backend/src/config.ts
  backend/src/exercise/exercise-wrapper.spec.ts
  backend/src/exercise/exercise-wrapper.ts
  backend/src/exercise/periodic-events/periodic-event-handler.spec.ts
  backend/src/exercise/websocket-handler/propose-action-handler.ts
  backend/test/http-health.spec.ts
  frontend/src/app/feature/messages/log-to-string/log-to-string.pipe.spec.ts
  shared/src/utils/array-to-uuid-set.spec.ts
Labels: testing

#363 Feature/manage map image templates
  frontend/src/app/core/api.service.ts
  frontend/src/app/pages/exercises/exercise/exercise.module.ts
  frontend/src/app/pages/exercises/exercise/shared/core/drag-element.service.ts
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/create-image-template-modal/create-image-template-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/create-image-template-modal/create-image-template-modal.component.scss
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/create-image-template-modal/create-image-template-modal.component.ts
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/create-image-template-modal/open-create-image-template-modal.ts
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/edit-image-template-modal/edit-image-template-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/edit-image-template-modal/edit-image-template-modal.component.scss
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/edit-image-template-modal/edit-image-template-modal.component.ts
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/edit-image-template-modal/open-edit-image-template-modal.ts
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/image-template-form/image-template-form.component.html
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/image-template-form/image-template-form.component.scss
  frontend/src/app/pages/exercises/exercise/shared/editor-panel/image-template-form/image-template-form.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/map-image-popup/map-image-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/trainer-map-editor/trainer-map-editor.component.html
  frontend/src/app/pages/exercises/exercise/shared/trainer-map-editor/trainer-map-editor.component.ts
  frontend/src/app/shared/functions/get-image-aspect-ratio.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/shared/validation/custom-validators.ts
  frontend/src/app/shared/validation/display-validation/display-validation.component.html
  frontend/src/app/shared/validation/image-exists-validator.directive.ts
  frontend/src/app/shared/validation/integer-validator.directive.ts
  frontend/src/app/state/exercise/exercise.selectors.ts
  shared/src/store/action-reducers/action-reducers.ts
  shared/src/store/action-reducers/map-image-templates.ts
Labels: frontend, shared

#326 Test for secureOn
  backend/src/exercise/websocket-handler/secure-on.spec.ts
  backend/src/exercise/websocket-handler/secure-on.ts
  backend/test/utils.ts
Labels: enhancement, testing, backend

#388 Forbid a socket to connect to multiple exercises at the same time
  backend/src/exercise/websocket-handler/join-exercise-handler.ts
Labels: bug, backend

#387 make docker image smaller
  .dockerignore
  docker/Dockerfile
  docker/docker-entrypoint.sh
  package.json
Labels: docker

#389 Feature/372 time travel
  backend/src/exercise/exercise-wrapper.ts
  backend/src/exercise/http-handler/api/exercise.ts
  backend/src/exercise/http-server.ts
  docs/swagger.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/api.service.ts
  frontend/src/app/core/present-exercise-helper.ts
  frontend/src/app/core/time-jump-helper.ts
  frontend/src/app/core/time-line-cache.ts
  frontend/src/app/core/time-travel-helper.ts
  frontend/src/app/pages/exercises/exercise/exercise.module.ts
  frontend/src/app/pages/exercises/exercise/exercise/exercise.component.html
  frontend/src/app/pages/exercises/exercise/exercise/exercise.component.ts
  frontend/src/app/pages/exercises/exercise/shared/alarm-group-overview/alarm-group-item/alarm-group-item.component.html
  frontend/src/app/pages/exercises/exercise/shared/client-overview/client-overview-modal/client-overview-modal.component.ts
  frontend/src/app/pages/exercises/exercise/shared/client-overview/open-client-overview-modal.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/exercise-map.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/map-images-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/transfer-point-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/viewport-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/map-image-popup/map-image-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/map-image-popup/map-image-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/transfer-point-popup/transfer-point-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/transfer-point-popup/transfer-point-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/vehicle-popup/vehicle-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/vehicle-popup/vehicle-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/viewport-popup/viewport-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/viewport-popup/viewport-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/generate-changed-properties.spec.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/generate-changed-properties.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/ol-map-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/time-travel/time-travel.component.html
  frontend/src/app/pages/exercises/exercise/shared/time-travel/time-travel.component.scss
  frontend/src/app/pages/exercises/exercise/shared/time-travel/time-travel.component.ts
  frontend/src/app/pages/exercises/exercise/shared/trainer-map-editor/trainer-map-editor.component.html
  frontend/src/app/pages/exercises/exercise/shared/trainer-map-editor/trainer-map-editor.component.ts
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.html
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.ts
  frontend/src/app/pages/exercises/exercise/shared/utility/is-trainer.ts
  frontend/src/app/state/exercise/exercise.selectors.ts
  frontend/src/styles.scss
  shared/src/store/action-reducer.ts
  shared/src/store/reduce-exercise-state.ts
  shared/src/utils/exercise-time-line.ts
  shared/src/utils/index.ts
Labels: enhancement

#393 add emergency operations center
  frontend/src/app/pages/exercises/exercise/exercise.module.ts
  frontend/src/app/pages/exercises/exercise/shared/alarm-group-overview/alarm-group-item/alarm-group-item.component.html
  frontend/src/app/pages/exercises/exercise/shared/alarm-group-overview/alarm-group-item/alarm-group-item.component.ts
  frontend/src/app/pages/exercises/exercise/shared/core/drag-element.service.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/emergency-operations-center-modal/emergency-operations-center-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/emergency-operations-center-modal/emergency-operations-center-modal.component.scss
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/emergency-operations-center-modal/emergency-operations-center-modal.component.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/emergency-operations-center.module.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/open-emergency-operations-center-modal.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.html
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.scss
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/transfer-point-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.html
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.ts
  frontend/src/app/pages/exercises/exercise/shared/transfer-overview/start-point-name/start-point-name.component.html
  frontend/src/app/pages/exercises/exercise/shared/transfer-overview/start-point-name/start-point-name.component.scss
  frontend/src/app/pages/exercises/exercise/shared/transfer-overview/start-point-name/start-point-name.component.ts
  frontend/src/app/pages/exercises/exercise/shared/transfer-overview/transfer-overview-table/transfer-overview-table.component.html
  frontend/src/app/pages/exercises/exercise/shared/transfer-overview/transfer-overview.module.ts
  shared/src/models/utils/alarm-group-vehicle.ts
  shared/src/models/utils/index.ts
  shared/src/models/utils/start-points.ts
  shared/src/models/utils/transfer.ts
  shared/src/state-helpers/create-vehicle-parameters.ts
  shared/src/state-helpers/index.ts
  shared/src/store/action-reducers/transfer.ts
Labels: enhancement, frontend

#350 Add database
  .dockerignore
  .env.example
  .eslint/typescript.eslintrc.cjs
  .github/workflows/pipeline.yml
  .gitignore
  .prettierignore
  .vscode/tasks.json
  README.md
  backend/.env.example
  backend/.gitignore
  backend/README.md
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/config.ts
  backend/src/database/data-source.ts
  backend/src/database/database-error.ts
  backend/src/database/entities/action-wrapper.entity.ts
  backend/src/database/entities/base-entity.ts
  backend/src/database/entities/exercise-wrapper.entity.ts
  backend/src/database/migration-datasource.ts
  backend/src/database/migrations/1653554608164-AddExerciseAndActions.ts
  backend/src/database/migrations/generate-migration.bat
  backend/src/database/normal-type.ts
  backend/src/database/scripts/purge.ts
  backend/src/database/services/action-wrapper.service.ts
  backend/src/database/services/base-service.ts
  backend/src/database/services/database-service.ts
  backend/src/database/services/exercise-wrapper.service.ts
  backend/src/exercise/action-wrapper.ts
  backend/src/exercise/client-wrapper.ts
  backend/src/exercise/exercise-wrapper.spec.ts
  backend/src/exercise/exercise-wrapper.ts
  backend/src/exercise/http-handler/api/exercise.ts
  backend/src/exercise/http-server.ts
  backend/src/exercise/websocket-handler/join-exercise-handler.ts
  backend/src/exercise/websocket-handler/propose-action-handler.ts
  backend/src/exercise/websocket-handler/secure-on.ts
  backend/src/fuesim-server.ts
  backend/src/index.ts
  backend/src/utils/dotenv-config.ts
  backend/src/utils/increment-id-generator.ts
  backend/src/utils/validation-error-wrapper.ts
  backend/test/http-exercise.spec.ts
  backend/test/utils.ts
  backend/tsconfig.json
  docker-compose.yml
  docker/docker-entrypoint.sh
  frontend/src/app/pages/exercises/shared/join-exercise-modal/join-exercise-modal.component.html
  package.json
  shared/src/models/client.ts
Labels: enhancement, backend

#414 Increase Cypress CI timeout to 5 minutes
  .github/workflows/pipeline.yml
Labels: CI

#381 Feature/378 hospital system
  frontend/src/app/pages/exercises/exercise/exercise.module.ts
  frontend/src/app/pages/exercises/exercise/shared/core/drag-element.service.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/transfer-point-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/choose-transfer-target-popup/choose-transfer-target-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/choose-transfer-target-popup/choose-transfer-target-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/transfer-point-popup/transfer-point-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/transfer-point-popup/transfer-point-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/hospital-editor/hospital-editor-modal.ts
  frontend/src/app/pages/exercises/exercise/shared/hospital-editor/hospital-editor-modal/hospital-editor-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/hospital-editor/hospital-editor-modal/hospital-editor-modal.component.scss
  frontend/src/app/pages/exercises/exercise/shared/hospital-editor/hospital-editor-modal/hospital-editor-modal.component.ts
  frontend/src/app/pages/exercises/exercise/shared/hospital-editor/hospital-editor.module.ts
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.html
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.ts
  frontend/src/app/shared/components/hospital-name/hospital-name.component.html
  frontend/src/app/shared/components/hospital-name/hospital-name.component.scss
  frontend/src/app/shared/components/hospital-name/hospital-name.component.ts
  frontend/src/app/shared/pipes/keys.pipe.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/state/exercise/exercise.selectors.ts
  shared/src/models/hospital-patient.ts
  shared/src/models/hospital.ts
  shared/src/models/index.ts
  shared/src/models/transfer-point.ts
  shared/src/state.ts
  shared/src/store/action-reducers/action-reducers.ts
  shared/src/store/action-reducers/hospital.ts
  shared/src/store/action-reducers/transfer-point.ts
  shared/src/store/action-reducers/utils/get-element.ts
  shared/src/store/action-reducers/vehicle.ts
Labels: enhancement

#405 adding an option to disable blue patients
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-settings/exercise-settings-modal/exercise-settings-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-settings/exercise-settings-modal/exercise-settings-modal.component.ts
  frontend/src/app/state/exercise/exercise.selectors.ts
  shared/src/models/patient.ts
  shared/src/store/action-reducers/exercise-settings.ts
  shared/src/store/action-reducers/utils/calculate-treatments.ts
  shared/src/utils/exercise-configuration.ts
Labels: frontend

#417 Fix multiple issues introduced by database merge
  backend/src/exercise/exercise-wrapper.ts
  backend/test/utils.ts
  shared/src/models/utils/health-points.ts
Labels: bug, backend, shared

#368 Restore from database
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/src/database/data-source.ts
  backend/src/database/entities/exercise-wrapper.entity.ts
  backend/src/database/migrations/1653601072020-AddStateVersion.ts
  backend/src/database/state-migrations/migrations.spec.ts
  backend/src/database/state-migrations/migrations.ts
  backend/src/exercise/exercise-wrapper.ts
  backend/src/index.ts
  backend/src/utils/increment-id-generator.ts
  backend/src/utils/restore-error.ts
  backend/src/utils/user-readable-id-generator.ts
  backend/tsconfig.json
  shared/README.md
  shared/src/data/index.ts
  shared/src/models/utils/health-points.ts
  shared/src/models/vehicle-template.ts
  shared/src/state.ts
  shared/src/store/index.ts
  shared/src/store/reducer-error.ts
  shared/src/store/validate-exercise-action.ts
  shared/src/store/validate-exercise-state.ts
  shared/src/store/validation-options.ts
Labels: enhancement, backend

#421 fix dynamic ports deployment
  docker/nginx/default-conf
  frontend/src/environments/environment.deployment.ts
Labels: bug, frontend

#400 Add Pretriage Functionality
  backend/src/database/state-migrations/migrations.ts
  backend/src/exercise/exercise-wrapper.ts
  backend/src/exercise/patient-ticking.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-settings/exercise-settings-modal/exercise-settings-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-settings/exercise-settings-modal/exercise-settings-modal.component.ts
  frontend/src/app/state/exercise/exercise.selectors.ts
  shared/src/data/default-state/patient-templates.ts
  shared/src/data/default-state/tile-map-properties.ts
  shared/src/data/dummy-objects/patient.ts
  shared/src/models/exercise-configuration.ts
  shared/src/models/hospital-patient.ts
  shared/src/models/index.ts
  shared/src/models/patient-template.ts
  shared/src/models/patient.ts
  shared/src/models/utils/index.ts
  shared/src/models/utils/tile-map-properties.ts
  shared/src/state.ts
  shared/src/store/action-reducers/action-reducers.ts
  shared/src/store/action-reducers/configuration.ts
  shared/src/store/action-reducers/exercise-settings.ts
  shared/src/store/action-reducers/exercise.ts
  shared/src/store/action-reducers/patient.ts
  shared/src/store/action-reducers/utils/calculate-treatments.spec.ts
  shared/src/store/action-reducers/utils/calculate-treatments.ts
  shared/src/utils/patient-updates.ts
Labels: enhancement, frontend

#407 Add export/import functionality
  backend/src/database/state-migrations/migrations.ts
  backend/src/exercise/exercise-wrapper.ts
  backend/src/exercise/http-handler/api/exercise.ts
  backend/src/exercise/http-server.ts
  backend/src/utils/import-exercise.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/api.service.ts
  frontend/src/app/pages/exercises/exercise/exercise.module.ts
  frontend/src/app/pages/exercises/exercise/exercise/exercise.component.html
  frontend/src/app/pages/exercises/exercise/exercise/exercise.component.ts
  frontend/src/app/pages/exercises/exercise/shared/time-travel/time-travel.component.html
  frontend/src/app/pages/exercises/exercise/shared/time-travel/time-travel.component.ts
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.ts
  frontend/src/app/pages/landing-page/landing-page/landing-page.component.html
  frontend/src/app/pages/landing-page/landing-page/landing-page.component.ts
  frontend/src/app/shared/functions/save-blob.ts
  shared/src/export-import/file-format/base-file.ts
  shared/src/export-import/file-format/export-import-file.ts
  shared/src/export-import/file-format/index.ts
  shared/src/export-import/file-format/partial-export.ts
  shared/src/export-import/file-format/state-export.ts
  shared/src/index.ts
  shared/src/models/status-history-entry.ts
  shared/src/state.ts
  shared/src/store/index.ts
  shared/src/store/validate-exercise-action.ts
  shared/src/store/validate-exercise-export.ts
Labels: enhancement, frontend, backend

#419 add more patient information
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/patient-popup/patient-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/trainer-map-editor/trainer-map-editor.component.html
  frontend/src/app/shared/components/patient-status-display/patient-status-display.component.html
  frontend/src/app/shared/components/patient-status-displayl/patient-status-data-field/patient-status-data-field.component.html
  frontend/src/app/shared/components/patient-status-displayl/patient-status-data-field/patient-status-data-field.component.scss
  frontend/src/app/shared/components/patient-status-displayl/patient-status-data-field/patient-status-data-field.component.ts
  frontend/src/app/shared/components/patient-status-displayl/patient-status-display/patient-status-display.component.html
  frontend/src/app/shared/components/patient-status-displayl/patient-status-display/patient-status-display.component.scss
  frontend/src/app/shared/components/patient-status-displayl/patient-status-display/patient-status-display.component.ts
  frontend/src/app/shared/shared.module.ts
  shared/src/data/default-state/patient-templates.ts
  shared/src/data/dummy-objects/patient.ts
  shared/src/models/patient-template.ts
  shared/src/models/patient.ts
  shared/src/models/utils/index.ts
  shared/src/models/utils/patient-status-code.ts
  shared/src/models/utils/pretriage-information.ts
Labels: frontend

#420 fix 404 problems with transferPoint deletion
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.ts
  shared/src/store/action-reducers/exercise.ts
  shared/src/store/action-reducers/transfer-point.ts
  shared/src/store/action-reducers/transfer.ts
Labels: bug

#422 Add basic hospital patient overview table
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/exercise-statistics-modal/exercise-statistics-modal.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/exercise-statistics.module.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/hospital-patients-table/hospital-patients-table.component.html
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/hospital-patients-table/hospital-patients-table.component.scss
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/hospital-patients-table/hospital-patients-table.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-statistics/stacked-bar-chart/stacked-bar-chart.component.html
  frontend/src/app/state/exercise/exercise.selectors.ts
  shared/src/store/action-reducers/hospital.ts
Labels: enhancement, frontend

#427 Require confirmation on second 0 for start
  frontend/src/app/pages/exercises/exercise/shared/trainer-toolbar/trainer-toolbar.component.ts
Labels: enhancement, frontend

#428 add patient info isWalkable with visual indication
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/patient-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/style-helper/image-style-helper.ts
  shared/src/data/default-state/patient-templates.ts
  shared/src/models/utils/pretriage-information.ts
Labels: enhancement

#426 Add alarmgroupvehicle names
  frontend/src/app/pages/exercises/exercise/shared/alarm-group-overview/alarm-group-item/alarm-group-item.component.html
  frontend/src/app/pages/exercises/exercise/shared/alarm-group-overview/alarm-group-item/alarm-group-item.component.ts
  frontend/src/app/pages/exercises/exercise/shared/emergency-operations-center/send-alarm-group-interface/send-alarm-group-interface.component.ts
  shared/src/models/utils/alarm-group-vehicle.ts
  shared/src/store/action-reducers/alarm-group.ts
Labels: enhancement, shared
