Repository hpi-sam/digital-fuesim-manv, pull requests merged in 2023-02, with the labels that each got.

#643 Add footer and about pages
  docker-compose.yml
  frontend/.eslintrc.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/pages/about/about-placeholder/about-placeholder.component.html
  frontend/src/app/pages/about/about-placeholder/about-placeholder.component.scss
  frontend/src/app/pages/about/about-placeholder/about-placeholder.component.ts
  frontend/src/app/pages/about/about-routing.module.ts
  frontend/src/app/pages/about/about.module.ts
  frontend/src/app/pages/about/imprint/imprint.component.html
  frontend/src/app/pages/about/imprint/imprint.component.scss
  frontend/src/app/pages/about/imprint/imprint.component.ts
  frontend/src/app/pages/about/license/license.component.html
  frontend/src/app/pages/about/license/license.component.scss
  frontend/src/app/pages/about/license/license.component.ts
  frontend/src/app/pages/about/privacy/privacy.component.html
  frontend/src/app/pages/about/privacy/privacy.component.scss
  frontend/src/app/pages/about/privacy/privacy.component.ts
  frontend/src/app/pages/error-404/error-404.component.html
  frontend/src/app/pages/error-404/error-404.module.ts
  frontend/src/app/pages/exercises/exercise/exercise/exercise.component.html
  frontend/src/app/pages/exercises/exercise/exercise/exercise.component.ts
  frontend/src/app/pages/landing-page/landing-page/landing-page.component.html
  frontend/src/app/shared/components/footer/footer.component.html
  frontend/src/app/shared/components/footer/footer.component.scss
  frontend/src/app/shared/components/footer/footer.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/tsconfig.json
Labels: enhancement, frontend

#627 Update pipeline actions to node 16
  .github/workflows/pipeline.yml
Labels: dev-setup

#657 Adjust nginx configuration for about pages
  docker/nginx/locations
  frontend/src/app/pages/about/about-placeholder/about-placeholder.component.html
Labels: bug, docker

#671 Dragging onto the Map now triggers Drop Events
  frontend/src/app/pages/exercises/exercise/shared/core/drag-element.service.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/exercise-map.component.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/catering-lines-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/delete-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/element-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/moveable-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/simulated-region-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/transfer-lines-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/transfer-point-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/feature-managers/vehicle-feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/feature-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/ol-map-interactions-manager.ts
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/utility/ol-map-manager.ts
  shared/src/models/index.ts
Labels: frontend

#670 Automatically treat patients
  CHANGELOG.md
  backend/package-lock.json
  benchmark/package-lock.json
  frontend/package-lock.json
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/vehicle-popup/vehicle-popup.component.ts
  shared/jest.config.js
  shared/package-lock.json
  shared/package.json
  shared/src/models/patient.ts
  shared/src/models/simulated-region.ts
  shared/src/models/utils/position/position-helpers.ts
  shared/src/models/vehicle.ts
  shared/src/simulation/activities/delay-event.ts
  shared/src/simulation/activities/exercise-simulation-activity.ts
  shared/src/simulation/activities/index.ts
  shared/src/simulation/activities/reassign-treatments.spec.ts
  shared/src/simulation/activities/reassign-treatments.ts
  shared/src/simulation/activities/unload-vehicle.ts
  shared/src/simulation/activities/utils.ts
  shared/src/simulation/behaviors/assign-leader.ts
  shared/src/simulation/behaviors/exercise-simulation-behavior.ts
  shared/src/simulation/behaviors/index.ts
  shared/src/simulation/behaviors/treat-patients.ts
  shared/src/simulation/behaviors/unload-arrived-vehicles.ts
  shared/src/simulation/events/exercise-simulation-event.ts
  shared/src/simulation/events/index.ts
  shared/src/simulation/events/material-available.ts
  shared/src/simulation/events/new-patient.ts
  shared/src/simulation/events/personnel-available.ts
  shared/src/simulation/events/tick.ts
  shared/src/simulation/events/treatment-progress-changed.ts
  shared/src/simulation/events/treatments-timer-event.ts
  shared/src/simulation/events/utils.ts
  shared/src/simulation/events/vehicle-arrived.ts
  shared/src/simulation/index.ts
  shared/src/simulation/utils/index.ts
  shared/src/simulation/utils/simulation.ts
  shared/src/simulation/utils/treatment.ts
  shared/src/simulation/utils/vehicle.ts
  shared/src/state-migrations/20-add-simulation-properties.ts
  shared/src/state.ts
  shared/src/store/action-reducers/exercise.ts
  shared/src/store/action-reducers/simulated-region.ts
  shared/src/store/action-reducers/utils/calculate-treatments.spec.ts
  shared/src/store/action-reducers/utils/calculate-treatments.ts
  shared/src/store/action-reducers/utils/completely-load-vehicle.ts
  shared/tests/jest-extended.d.ts
  shared/tests/utils/catering.spec.ts
  shared/tests/utils/materials.spec.ts
  shared/tests/utils/patients.spec.ts
  shared/tests/utils/personnel.spec.ts
  shared/tsconfig.build.json
  shared/tsconfig.json
Labels: shared, simulation
