Repository hpi-sam/digital-fuesim-manv, pull requests merged in 2023-03, with the labels that each got.

#715 Populate the pop up for simulated regions
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/simulated-region-popup/simulated-region-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/overview/simulated-region-overview.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/overview/simulated-region-overview.component.scss
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/overview/simulated-region-overview.component.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/simulated-region-overview.module.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/simulated-region-overview-behavior-tab.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/simulated-region-overview-behavior-tab.component.scss
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/simulated-region-overview-behavior-tab.component.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/general-tab/simulated-region-overview-general-tab.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/general-tab/simulated-region-overview-general-tab.component.scss
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/general-tab/simulated-region-overview-general-tab.component.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/transfer-tab/simulated-region-overview-transfer-tab.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/transfer-tab/simulated-region-overview-transfer-tab.component.scss
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/transfer-tab/simulated-region-overview-transfer-tab.component.ts
Labels: enhancement, frontend

#724 Update changelog
  CHANGELOG.md
Labels: documentation

#720 Populate the further information on the treatment behavior
  CHANGELOG.md
  frontend/src/app/pages/exercises/exercise/shared/exercise-map/shared/simulated-region-popup/simulated-region-popup.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/simulated-region-overview.module.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/behaviors/treat-patients/patient-details/simulated-region-overview-behavior-treat-patients-patient-details.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/behaviors/treat-patients/patient-details/simulated-region-overview-behavior-treat-patients-patient-details.component.scss
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/behaviors/treat-patients/patient-details/simulated-region-overview-behavior-treat-patients-patient-details.component.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/behaviors/treat-patients/simulated-region-overview-behavior-treat-patients.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/behaviors/treat-patients/simulated-region-overview-behavior-treat-patients.component.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/simulated-region-overview-behavior-tab.component.html
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/simulated-region-overview-behavior-tab.component.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/utils/personnel-type-to-german-abbreviation.pipe.ts
  frontend/src/app/pages/exercises/exercise/shared/simulated-region-overview/tabs/behavior-tab/utils/treatment-progress-to-german-name.pipe.ts
  frontend/src/app/shared/components/patient-status-badge/patient-status-badge.component.html
  frontend/src/main.ts
  frontend/tsconfig.app.json
  shared/src/models/index.ts
  shared/src/simulation/activities/reassign-treatments.ts
  shared/src/simulation/index.ts
  shared/src/store/action-reducers/simulation.ts
Labels: enhancement, frontend

#738 Add migration for transfer point in simulated regions
  shared/src/state-migrations/23-add-transfer-point-to-simulated-region.ts
  shared/src/state-migrations/migration-functions.ts
  shared/src/state.ts
Labels: bug, backend

#740 Fix deletion of simulated region now cascades
  CHANGELOG.md
  shared/src/store/action-reducers/simulated-region.ts
  shared/src/store/action-reducers/transfer-point.ts
Labels: bug, shared

#790 Add report of counts
  shared/src/simulation/behaviors/assign-leader.ts
  shared/src/simulation/behaviors/treat-patients.ts
Labels: enhancement, shared

#819 Add Template Count to frontend
  frontend/src/app/pages/exercises/exercise/shared/trainer-map-editor/trainer-map-editor.component.html
Labels: enhancement, frontend

#821 Add PR template
  .github/pull_request_template.md
Labels: dev-setup

#839 Remove appending .prettierignore-ci in npm scripts and add test-scena…
  .prettierignore
  package.json
Labels: dev-setup
